:root {
	font-size: 16px;
	font-family: roboto, sans-serif;
	color: #212121;
}

body {
	margin: 0;
}

calm-bar {
	color: #fff;
	fill: currentColor;
}

calm-page {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

calm-page > * {
	margin: 16px 0 0 16px;
}

calm-page > calm-card[fullwidth] {
	margin: 16px 0 0 0;
}

.spacer {
	flex-grow: 1;
}

calm-card {
	display: flex;
	width: 256px;
	height: 128px;

	justify-content: center;
	align-items: center;
}

#bars {
	width: 512px;
}

#bars > * {
	margin-bottom: 16px;
}

#bar-flat {
	background: transparent;
	color: #212121;
}

#button-custom-bg {
	background: #836;
}

#tabs-fixed {
	width: 512px;
}

#tappable {
	padding: 32px;
}

#drawer-bar {
	background: transparent;
	color: #212121;
}
